<%= form_tag "/query_analyzer", :method => 'get' do %>
  <%= text_field_tag :collection_name, @collname, :class => "input-medium search-query", :placeholder => "Collection name" %>
  <%= text_field_tag :query, @query, :class => 'input-medium search-query', :placeholder=>'Enter JSON' %>
  <button type="submit" value="upvote">
      <i class="icon-search"></i>
  </button>
<% end %>

<h2>Collection: <%= @collname %></h2>
<h2>JSON: <%= @query %></h2>

<table class="table table-striped span8">
  <thead>
		<tr><td>Severity</td><td>Reason</td></tr>
  </thead>
<% @evaluation_results.each do |res| %>
    <% severity = {1=>'success', 2=>'warning', 3=>'error'}[res.severity] %>
	<tr class='<%= severity %>'>
    <td><%= res.severity %></td>
    <td><%= res.msg %></td>
  </tr>
<% end %>
</table>
