<% content_for :sidebar do %>
<%= render :partial => "shared/collections_sidebar" %>
<% end %>

<ul class="breadcrumb">
  <li><%= link_to 'mongotools', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'explorer', explorer_index_path %> <span class="divider">/</span></li>
  <li><%= link_to(current_database_name, explorer_path(current_database_name))%> <span class="divider">/</span></li>
  <li class="active"><%= link_to current_collection_name, explorer_collection_path(current_database_name, current_collection_name)%></li>
</ul>

<%= form_tag(explorer_collection_documents_path(current_database_name, current_collection_name), :method => :post) do %>
    <fieldset>
        <legend><%= link_to current_collection_name, explorer_collection_path(current_database_name, current_collection_name) %> / New Document</legend>
        <%= text_area_tag 'query', @query, :class => 'formatted' %>
        <%= submit_tag 'Save Document', :class => 'btn btn-primary' %>
    </fieldset>
<% end %>