<% content_for :sidebar do %>
<%= render :partial => "shared/collections_sidebar" %>
<% end %>

<% if current_database.collection_names.include? current_collection_name %>
<h3><%= current_collection_name %></h3>

<div class="row-fluid">
<form class="collection-query">
  <textarea id="collection-terminal"></textarea>
</form>
</div>

<table class="table table-bordered">
  <% current_collection.find.each do |document| %>
  <tr>
    <td>
      <% if document.has_key?("_id") && !COLLECTION_BLACKLIST.include?(current_collection_name) %>
      <%= link_to JSON.generate(JSON.parse(document.to_json), space: " ", indent: " "), explorer_collection_document_path(current_database_name, current_collection_name, document["_id"]) %>
      <% else %>
      <%= JSON.generate(JSON.parse(document.to_json), space: " ", indent: " ") %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<div class="alert alert-error">
  <strong>Error!</strong>
  That collection doesn't exist, want to <%= link_to "create it?", "#" %>
</div>
<% end %>
